header {
    background-color: chocolate;
    padding: 20px 0;
}
.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position:absolute;
    top: 110px;
    right: 0;
}
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
     color: #c78c19;
     text-decoration: underline;
}

.Productos {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
.Productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}
.Productos li:hover {
    border-color: #c78c19;
    color: #c78c19;
    
}
.Productos li:active{
    border-color: #c78c19;
}
.Productos h1{
    font-size: 30px;
    font-weight: bold;
}
.Productos li:hover h1 {
    font-size: 33px;
}
.ProductosDescripción {
    font-size: 18px;

}
.ProductosPrecio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}